.container {
  text-align: center;
  font-weight: 500;
  font-size: 1.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.container a {
  color: #2379c4;
  text-decoration: underline;
}

@media only screen and (max-width: 660px) {
  .container {
    font-size: 1.25rem;
  }
}
