.container {
  width: 26rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F4F6FF;
  border-radius: 16px;
  padding: 1.125rem;
}

.text {
  margin-right: 3.8rem;
  user-select: none;
  font-size: .9rem;
  word-break: break-all;
}
