.container {
  padding: 1rem;
  box-shadow: 0px 4px 15px rgba(178, 199, 188, .3);
  border-radius: 5px;
  width: 27.75rem;
}

.container > * {
  margin-bottom: .7rem;
}

.container > *:last-child {
  margin-bottom: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title,
.score {
  font-size: 1.5rem;
  font-weight: 500;
  color: #4164E2;
}

.score {
  color: #5978E6;
  display: flex;
  align-items: center;
}

.dot {
  width: .625rem;
  height: .625rem;
  background: var(--sliderColor);
  border-radius: 50%;
  margin-right: .5rem;
}

.chart {
  display: flex;
  flex-direction: column;
}

.scale {
  display: flex;
}

.scale > svg {
  width: 100%;
  height: auto;
}

.labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .8rem;
  margin-top: .625rem;
}

.slider {
  width: .25rem;
  height: 1.1rem;
  background: var(--sliderColor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
  margin-bottom: .5rem;
  margin-left: max(
    calc(1% * var(--score) - .25rem),
    0%
  );
}

.status {
  font-size: .875rem;
  font-weight: 500;
  color: #5978E6;
  margin-bottom: .3125rem;
}

.status > span {
  cursor: help;
  margin-left: min(
    max(
      calc(1% * var(--score) - 1rem * var(--statusWidth)),
      0%
    ),
    92%
  );
}
