.subTitle {
  font-size: 1.5rem;
  font-weight: 500;
  color: #272833;
}

.articleTitle {
  font-size: 1.75rem;
  font-weight: 500;
  color: #2379c4;
  width: 100%;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 425px) {
  .articleTitle {
    display: block;
  }
}

@media only screen and (max-width: 660px) {
  .articleTitle,
  .subTitle {
    font-size: 0.875rem;
  }
}
